    * {
      margin: 0px;
      padding: 0px;
    }

    .navbar-item>a {
      color: black;
      font-family: Geneva, Tahoma, Verdana, sans-serif;
      font-size: 0.938rem;
    }

    li {
      padding-right: 1.875rem;
    }

    @media screen and (max-width: 576px) {
      .navbar-item>a {
        border-bottom: 0.013rem solid grey;
      }
    }

    @media screen and (max-width: 768px) {
      .col-md-3>img {
        padding-bottom: 0.625rem;
      }
    }

    .carousel-inner img {
      width: 100%;
      height: 40.375rem;
    }

    .imgGrid .col-md-3 {
      padding-right: 0px;
    }

    .col-md-3 img {
      width: inherit;
    }

    .heading {
      margin-top: 0.125rem;
    }

    link>a {
      color: black;
    }

    colour {
      background-color: white;
    }
    img:hover{
      transform: scale(1.05,1.05);
      -webkit-transform: scale(1.05,1.05);
      -moz-transform: scale(1.05,1.05);
      -ms-transform: scale(1.05,1.05);
      -o-transform: scale(1.05,1.05);
}